body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #b1ccff, #ffbdde);
    text-align: center;
    margin: 0;
    padding: 20px;
}

label, input {
    font-size: 16px;
    margin: 5px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 250px;
}

input[type="button"] {
    background-color: #2B6CB0;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}


#urgentes, #nao_urgentes {
    width: 60%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    min-height: 50px;
    text-align: left;
}

#urgentes {
    border: 2px solid red;
    background-color: rgb(255, 0, 0, 0.5);
}

#nao_urgentes {
    border: 2px solid rgb(21, 255, 0);
    background-color: rgb(21, 255, 0, 0.5);
}

div#urgentes div,
div#nao_urgentes div {
    background-color: white;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
